@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* RESET */
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", Verdana, sans-serif;
    color: var(--blk);
    font-weight: var(--reg);
}

a {
    display: inline-block;
}

/* VARIABLES */
:root {
    --blk: #000000;
    --wht: #FFFFFF;
    --gry: #ECECEC;
    --grn: #368D50;

    --lgt: 300;
    --reg: 400;
    --med: 500;
    --bold: 700;
}




/* GLOBAL */
/* Global - Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blk);
    padding: 20px 30px;
    border-bottom: 2px solid var(--grn);
}

.nav-ul {
    list-style: none;
}

.nav-link {
    font-size: 125%;
    color: var(--wht);
    font-weight: var(--bold);
    border-bottom: 2px solid var(--blk);
    transition: .3s ease;
}

.nav-link:hover {
    color: var(--grn);
    border-bottom: 2px solid var(--grn);
}

.nav-button {
    background-color: var(--grn);
    border: 2px solid var(--grn);
    border-radius: 3px;
    padding: 7px 10px;
}

.nav-button:hover {
    border: 2px solid var(--grn);
    background-color: var(--blk);
    color: var(--grn);
}

.menu-toggle {
    font-size: 200%;
    display: none !important;
    cursor: pointer;
    color: var(--grn);
}

.current-page {
    color: var(--grn);
    border-bottom: 2px solid var(--grn);
}

.bullet-list {
    list-style-position: inside;
}

/* Global - Footer */
footer {
    background-color: var(--gry);
    border-radius: 15px 15px 0 0;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    list-style: none;
}

footer ul li {
    text-align: center;
}

footer section {
    background-color: var(--blk);
    text-align: center;
    padding: 25px;
}

footer section p {
    color: var(--wht);
    font-size: 75%;
}

.social-image {
    width: 50%;
}

.grn-text {
    color: var(--grn);
}

/* Global - Text */
h1 {
    font-weight: var(--bold);
    font-size: 300%;
    display: inline-block;
}

h2 {
    font-weight: var(--bold);
    font-size: 200%;
    display: inline-block;
}

h3 {
    font-weight: var(--med);
    font-size: 125%;
    display: inline-block;
}

h4 {
    font-weight: var(--med);
    font-size: 100%;
    display: inline-block;
}

label {
    font-weight: var(--med);
    font-size: 125%;
}


/* Global - Buttons */
.btn {
    font-weight: var(--bold);
    font-size: 125%;
    color: var(--wht);
    background-color: var(--grn);
    border: 2px solid var(--grn);
    border-radius: 3px;
    padding: 10px 15px;
    transition: .3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    border: 2px solid var(--grn);
    background-color: var(--wht);
    color: var(--grn);
}

.btn-blk {
    font-weight: var(--bold);
    font-size: 125%;
    color: var(--wht);
    background-color: var(--blk);
    border: 2px solid var(--blk);
    border-radius: 3px;
    padding: 10px 15px;
    transition: .3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.btn-blk:hover {
    border: 2px solid var(--blk);
    background-color: var(--grn);
    color: var(--blk);
}


/* Global - Home */
.hm-srv-p {
    color: var(--wht);
    font-weight: var(--med);
}

.hm-prd-p {
    font-weight: var(--med);
}

#home-services {
    background-color: var(--grn);
    border-radius: 15px;
}


/* Hamburger Nav */
@media screen and (max-width: 900px) {
    .logo-link {
        width: 150px;
    }
    
    .head-logo {
        width: 100%;
        padding-top: 0;
    }

    .menu-toggle {
        display: block !important;
    }

    nav {
        justify-self: center;
        position: fixed;
        width: 100%;
        background-color: var(--blk);
        top: 89px;
        right: 0;
        text-align: right;
        height: 100vh;
        display: none;
        z-index: 1;
    }

    .nav-ul {
        padding: 20px 70px;
    }

    .nav-li {
        display: block;
        padding: 20px 0;
    }

    nav.close {
        display: none;
    }

    .no-scroll {
        overflow: hidden;
    }

    .nav-btn-wrapper {
        padding-top: 50px;
    }
}



@media screen and (min-width: 375px) and (max-width: 730px) {
/* Mobile - GLOBAL */




/* Mobile - Home */
#hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: 
        linear-gradient( 
            rgba(0, 0, 0, .5), 
            rgba(0, 0, 0, .5) ), 
            url(/assets/home/pexels-pixabay-164558.jpg)
            ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 15px 15px;
}

.hero-logo {
    width: 50%;
}

#hero p {
    text-align: center;
    color: var(--wht);
    font-weight: var(--med);
    padding-top: 10px;
    width: 275px;
}

#home-main section h2 {
    margin-bottom: 75px;
}

#home-products h2 {
    border-bottom: 3px solid var(--grn);
}

#home-services h2 {
    border-bottom: 3px solid var(--blk);
    color: var(--wht);
}

#home-products, #home-services {
    text-align: center;
    padding: 75px 40px;
}

#home-products a, #home-services a {
    max-width: 450px;
    margin-bottom: 75px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: .3s ease;
}

#home-products a:hover, #home-services a:hover {
    z-index: 1 ;
    transform: scale(105%);
}

.home-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
}

#home-links article {
    text-align: center;
    background-color: var(--blk);
    border-radius: 20px;
    max-width: 450px;
    padding: 50px 25px;
    margin: 30px 0;
    border: 4px solid var(--grn);
}

#home-links article p {
    color: var(--wht);
    padding: 25px;
}

#home-links article h3 {
    color: var(--wht);
    font-size: 150%;
    border-bottom: 3px solid var(--grn);
}

#home-links article .btn {
    margin-top: 75px;
}

.home-imgs {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.hm-prd-p, .hm-srv-p {
    font-size: 200%;
    font-weight: var(--med);
    padding: 15px;
}


/* Mobile - Products + Services Template */
#products-main, #services-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

#products-main article, #services-main article {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.green-article {
    background-color: var(--grn);
    border-radius: 10px;
}

.product-imgs, .service-imgs {
    width: 100%;
    border-radius: 10px;
}

.supplier-img {
    width: 100%;
}

.supplier-link {
    background-color: var(--wht);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 45px;
    width: 75px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}

.supplier-link:hover {
    z-index: 1;
    transform: scale(105%);
}

.senco-link {
    background-color: var(--blk);
}

.empire-img {
    width: 70%;
}

.supplier-link-ul {
   display: flex;
   flex-direction: row;
   list-style: none;
}

.supplier-link-ul li {
    padding: 5px;
}

/* Mobile - Products */




/* Mobile - services */




/* Mobile - Contact */

}





@media screen and (min-width: px) {
/* GLOBAL */




/* Home */




/* Products + Services Template */




/* Products */




/* services */




/* Contact */

}